<div class="sidenav extended" id="sidenav-bar">
    <div class="brand">
        <div class="row h-100 px-3">
            <div class="col d-flex align-items-center logo">
                <img src="https://techresources.hr/assets/img/logo/TR-logo-web-01.svg"
                    height="35px" alt="logo">
            </div>
            <div  class="col d-flex align-items-center" href="javascript:void(0)" (click)="toggleNav()">
                <i class="fas fa-bars ms-auto" [class.mx-auto]="!isExpanded" [class.me-4]="isExpanded"></i>
            </div>
        </div>
    </div>

    <div class="menu">
        <sidenav-link link="/" icon="fas fa-home">Home</sidenav-link>
        <sidenav-link link="/test" icon="fas fa-cog">Test</sidenav-link>

        <sidenav-menu icon="fas fa-list" title="List" [isOpen]="'/list'">
            <sidenav-link link="/list/tennis" icon="fas fa-table-tennis">Tennis</sidenav-link>
            <sidenav-link link="/list/baseball" icon="fas fa-baseball-ball">Baseball</sidenav-link>
        </sidenav-menu>

        <sidenav-menu icon="fas fa-list" title="Second" [isOpen]="'/second'">
            <sidenav-link link="/second/volleyball" icon="fas fa-volleyball-ball">Volleyball</sidenav-link>
            <sidenav-link link="/second/football" icon="fas fa-futbol">Football</sidenav-link>
        </sidenav-menu>
    </div>
</div>