@import "/src/assets/scss/colors";
@import "/src/assets/scss/variables";

@media only screen and (max-width: $medium-breakpoint) {
    .sidenav {
        display: block;
    }
}

.sidenav {
    height: 100%;
    width: 100%;
    background-color: $sidenav-bg;
    box-shadow: 0 0 10px rgb(24 28 33 / 5%);
    transition: width 0.4s;

    &.expanded {
        & .sidenav-item .title,
        .sidenav-dropdown-menu .title {
            transition: all 0.4s;
        }

        & .logo {
            display: flex !important;
        }
    }

    &.collapsed {
        width: $collapsed-width;

        & .logo {
            display: none !important;
        }

        & .dropdown li {
            margin-left: -30px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0em;
                left: 1.6em;
                width: 1em;
                height: 0.1em;
                background: $menu-items;
                z-index: 0;
                transform: rotate(90deg);
            }

            &.active::before {
                background: $primary-color !important;
            }
        }

        & .sidenav-item .title,
        .sidenav-dropdown-menu .title {
            margin-left: 50px;
            transition: all 0.4s;
        }

        & .sidenav-item .icon-placeholder::after {
            content: '\f192';
            font-family: fontawesome;
        }
    }
}

.brand {
    height: $navbar-height;
    border-bottom: 1px solid #d9d9d9;
}

.fa-bars {
    font-size: 1.3em;
    color: $menu-items;

    &:hover {
        color: $menu-hover;
        cursor: pointer;
    }
}

.menu {
    list-style: none;
    margin-top: 1em;
    height: calc(100vh - $navbar-height - 1em);
    overflow: hidden;
    transition: overflow .4s;
    &:hover {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(207, 207, 207, 0.986);
        border-radius: 20px;
    }
    & li {
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        color: $menu-items;
        transition: color 0.2s;
        padding: 0.8em 0.8em 0.8em 1.6em;
        & i {
            margin-right: 10px;
        }

        &:hover {
            color: $menu-hover;
        }

        &.active {
            color: $menu-hover;
            & i, .icon-placeholder {
                color: $primary-color;
            }
        }
    }
}

.sidenav-dropdown-menu {
    overflow: hidden;
    & .dropdown {
        max-height: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: all 0.3s;
        overflow: hidden;
    }

    &.open {
        & .dropdown {
            margin-top: 10px;
            margin-bottom: -0.5rem;
            max-height: 500px;
        }

        & .title {
            & .icon {
                transform: rotate(-90deg);
            }
        }
    }

    & .title {
        & .icon::after {
            content: "\f053";
            font-family: "fontawesome";
        }
        & .icon {
            right: 20px;
            top: -2px;
            transition: transform 0.3s;
        }
    }
}

.dropdown {
    list-style-type: none;
    padding-left: 0.3em;

    & li {
        transition: margin 0.4s;
    }
}

.icon-placeholder {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
    // &::after {
    //     content: '\f192';
    //     font-family: fontawesome;
    // }
}
