@import "/src/assets/scss/colors";
@import "/src/assets/scss/variables";

.layout-content {
    background-color: $body-bg;
    height: $body-height;
}

.layout {
    height: 100vh;
}

.layout-main {
    height: 100%;
}