@import '/src/assets/scss/colors';
@import '/src/assets/scss/variables';

.layout-content {
    background-color: $body-bg;
    height: $body-height
}

.layout {
    height: 100vh;
}

.layout-main {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #main-wrapper {
        width: 100% !important;
    }
}


#sidenav-wrapper {
    transition: width .4s;

    &.collapsed {
        width: $collapsed-width;
    }

    &.mobile-expanded {
        display: inline !important;
        position: absolute;
        z-index: 99;
        width: 16em;
        height: 100%;
    }
}


#main-wrapper {
    transition: width .4s;

    &.collapsed {
        width: calc(100% - $collapsed-width);
    }
}